/* CardCarousel.css */
*{
  box-sizing: border-box;
}
.card-container{
  background-color: #a57e32;
  padding: 20px;
  display: flex;
  overflow: hidden;
}
.cards{
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 40px;
  margin-top: -3px;
  padding-top: 50px;
  width: 100%;
  /* background-color: #F6CA71; */
  background-color: #edbe5f;
}
.card-title{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.card-carousel {
    position: relative;
    overflow: hidden;
    width: 100%; /* Set the desired width of the carousel to show 3 cards at a time */
    margin: 0 auto; /* Center the carousel */
  }
  
  .cards-container {
    display: flex;
    width: calc(1000px * 3); /* Set the width to accommodate all cards */
    transition: transform 0.3s ease;
  }
  
  .card {
    display: flex;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 900px; /* Adjust the width of each card (slightly increased) */
    height: 500px; /* Adjust the height of each card */
    opacity: 0.4; /* Adjust opacity for non-active cards */
  }
  
  .card.active {
    opacity: 1; /* Show active card with full opacity */
  }

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 8px; 
  object-fit:fill
}
  
.arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .arrow-left,
  .arrow-right {
    font-size: 50px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    outline: none;
  }
  
  .arrow-left {
    transform: translateY(-50%) rotate(180deg);
  }
  
  .arrow-right {
    transform: translateY(-50%);
  }

/* Responsive styles for screens with a maximum width of 480px */
@media screen and (min-width: 700px){
  .cards-container {
    width: calc(1000px * 2); /* Set the width to accommodate all cards */
  }
  .card-title{
    font-size: 20px;
  }
}
@media screen and (max-width: 450px){
  .card-title{
    font-size: 22px;
  }
  .cards-container {
    width: calc(1000px * 2); /* Set the width to accommodate all cards */
  }
  .cards{
    width: 100%;
  }
}
