/* Footer- image */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.footer{
    position: relative;
    font-family: 'MedievalSharp', cursive;
    width: 100%;
    height: 10vh;
    background-color: #a57e32;
}
.context{
    position: absolute;
    padding-top: 60px;
    top: 50px;
    left: 30%;
    z-index: 10;
}
h3{
    text-align: center;
}
.Book{
    cursor: pointer;
    padding: 5px;
    bottom: 57%;
    left: 40%;
    position: absolute;
    width: 8%;
    border: 2px solid black;
} 
.Book:hover{
    background-color: #F6CA71;
    transition: .3s linear;
}
.copyright{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ruler{
    margin-left: 60px;
    width: 90%;
    bottom: 75%;
    color: rgb(8, 8, 8);
    position: absolute;
    
}
.Footer-down{
    font-weight: bolder;
    font-size: 20px;
    /* margin-left: 100px; */
    width: 95%;
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
    color: rgb(8, 8, 7);
    position: absolute;
    bottom: 6%;
}
.Footer-links{
    cursor: pointer;
    display: flex;
    gap: 30px;
}
@media screen and (max-width: 450px){
    .Footer-links{
        gap: 10px;
    }
    .ruler{
        width: 0;
    }

    .copyright{
        font-size: 10px;
        align-items: center;
    }
    .Footer-down{
        align-items: center;
        bottom: 50%;
        height: 30vh;
    }
}
